const fs = require('fs');
const db = require('mysql').createConnection({
	host: 'localhost',
	user: 'root',
	password: '1',
	database: 'speakNow'
});
db.connect();

module.exports = {
	ssl: {
		key: fs.readFileSync("../SSL_cert/privkey.pem"),
		cert: fs.readFileSync("../SSL_cert/cert.pem"),
		ca: fs.readFileSync("../SSL_cert/fullchain.pem")
	},

	db: db
}

//console.log(module.export.ssl)
