var fs = require('fs');

var db = require('mysql').createConnection({
	host: 'localhost', 
	user: 'root',
	password: '1',
	database: 'speaknow',
})
db.connect()

module.exports = {
	ssl: {
		cert: fs.readFileSync("/etc/letsencrypt/live/xseed.tech/cert.pem"),
		key: fs.readFileSync("/etc/letsencrypt/live/xseed.tech/privkey.pem"),
		ca: fs.readFileSync("/etc/letsencrypt/live/xseed.tech/fullchain.pem")
	},

	db: db,

	uid: require('shortid')
}